annotated-types==0.8.0
anyio==4.15.1
click==8.5.0
cloudpickle==3.1.2
et-xmlfile==2.0.0
fastapi==0.116.1
h11==0.16.0
httptools==0.8.0
idna==3.19
joblib==1.6.0
numpy==2.2.6
openpyxl==3.1.5
Pillow==11.3.0
pydantic==2.13.5
pydantic-core==2.46.5
pydicom==3.0.1
python-dotenv==1.2.3
python-multipart==0.0.20
PyYAML==6.0.3
scikit-learn==1.7.2
scipy==1.18.1
starlette==0.47.3
threadpoolctl==3.6.0
typing-extensions==4.16.0
typing-inspection==0.4.4
uvicorn[standard]==0.35.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==17.1
